# ── Serveur ──────────────────────────────────
PORT=3001
NODE_ENV=development

# ── MongoDB ──────────────────────────────────
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/streamMG

# ── JWT ──────────────────────────────────────
JWT_SECRET=<256_bits_aleatoires>
JWT_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d

# ── HLS Tokens ───────────────────────────────
HLS_TOKEN_SECRET=<secret_hls>
HLS_TOKEN_EXPIRY=600

# ── AES Download ─────────────────────────────
SIGNED_URL_SECRET=<secret_url>
SIGNED_URL_EXPIRY=900

# ── Stripe ───────────────────────────────────
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# ── CORS ─────────────────────────────────────
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:8081

# ── Base URL ─────────────────────────────────
BASE_URL=http://localhost:3001

# ── Limites Upload ───────────────────────────
MAX_THUMBNAIL_SIZE=5242880
MAX_VIDEO_SIZE=524288000
